{% for i in items %}

<div class="card m-4" style="width: 18rem;">
  <img src="{{ url_for('static',filename='cofee.jpg') }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.item_name}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <p class="card-text">price : {{i.price}}</p>
    <p class="card-text">discount : {{i.discount}}</p>
    <div class="d-flex flex-row justify-content-between">
    <a  onclick="increase('{{i.menu_id}}',{'menu_id':'{{i.menu_id}}','item_name':'{{i.item_name}}','price':'{{i.price}}','discount':'{{i.discount}}'})" class="col-2 btn btn-primary text-center" style="font-size: 20px">+</a>
    <p id="it-{{i.menu_id}}" class="col text-center mt-2">0</p>
    <a  onclick="decrease('{{i.menu_id}}','{{i.price}}')" class="col-2 btn btn-primary text-center" style="font-size: 20px">-</a>
     </div>
  </div>
</div>
{% endfor %}