{% for i,j in cards.items() %}
<tr id="tr-{{i.menu_id}}">
  <td>
    <img src="{{ url_for('static',filename='cofee.jpg') }}" class="img-fluid img-thumbnail" alt="sheep">
  </td>
  <td>
    {{i.item_name}}
  </td>
  <td>
    {{i.item_price}}
  </td>
  <td>
    <input type="number" class="form-control" min=1 value="{{j}}" oninput="change_num('{{i.menu_id}}','{{i.price}}')" id="inp{{i.menu_id}}">
  </td>
  <td id="total-{{i.menu_id}}" class="item_total">{{j|int*i.price|int}}</td>
  <td>
    <a class="btn btn-danger btn-sm" onclick="remove_item('{{i.menu_id}}')"><i class="fa fa-times"></i></a>
  </td>
</tr>
{% endfor %}